<div class="center">
  <form class="form-border" [formGroup]="newItem">
    <mat-form-field>
      <mat-label for="item">item name:</mat-label>
      <input matInput formControlName="item">
    </mat-form-field> <br />
    <mat-form-field>
      <mat-label for="item">price:</mat-label>
      <input matInput type="number" formControlName="price">
    </mat-form-field> <br />
    <mat-form-field>
      <mat-label for="item">category:</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let i of ['Groceries', 'Fruits', 'Medical', 'Hotel Foods']" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field> <br />

    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="date" [min]="minDate"
        [max]="maxDate" [disabled]="disabled">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
        [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
        [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
        <ng-template>
          <mat-icon>done</mat-icon>
          <!-- <span>OK</span> -->
        </ng-template>
      </ngx-mat-datetime-picker>
    </mat-form-field> <br/>
    <div class="submit-button">
      <button mat-raised-button (click)="deleteItem()">Delete</button>
    </div>
    <div class="submit-button">
      <button mat-raised-button (click)="saveItem()">Save</button>
    </div>
    <div class="cancel-button">
      <button mat-raised-button routerLink="/list-items">Cancel</button>
    </div>
  </form>
</div>